/*FONTS */
p {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Montaga', serif;
}
/* HEADER */
.carousel-header {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    padding: 20px;
}

.carousel-header h1 {
    text-align: center;
    color: white;
}

.carousel-header p {
    text-align: center;
    color: white;
}

.tinted-image {
    background:
    linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
    )
}

/* WHAT WE DO SECTION */

.wrapper-wwd {
    border: solid;
}
.fixed-wwd {
    position: sticky;
    position: -webkit-sticky;
    font-size: 26px;
    top: 35%;
    height: 10%;
    text-align: center;
}
.text-wwd p {
    font-size: 20px;
}

.text-wwd {
    padding-top: 500px;
}

.wrapper_learn {
    margin-bottom: 25px;
}
.wrapper_learn div {
    border: solid;
    border-radius: 7px;
    margin: 10px;
    height: 100%;
    text-align: center;
    padding: 10px 25px;
}