/* UNIVERSAL */
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

h1 {
    font-family: 'Montaga', serif;
    font-size: 45px;
}

h2 {
    font-family: 'EB Garamond', serif;
    font-size: 40px;
}

h3 {
    font-family: 'Montaga', serif;
    font-size: 30px;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

h5 {
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    font-size: 32px;
}

.background1 {
    background-image: url(../images/background-rect.png);
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    top: 1000px;
    z-index: -1;
}

.background2 {
    background-image: url(../images/background-rect2.png);
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    top: 2000px;
    z-index: -1;
}

.background3 {
    background-image: url(../images/background-rect.png);
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    top: 3000px;
    z-index: -1;
}

.background4 {
    background-image: url(../images/background-rect2.png);
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    top: 4000px;
    z-index: -1;
}
/* NAV */
.nav-item {
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    font-size: 24px;
    color: #0077BE !important;
}
.navbar-toggler{
    border:none;
}
  .navbar-toggler-icon {
    border:none;
    background-image: url("../images/closed-hamburger-menu.png") !important;
    background-size: cover;
    width:40px;
    background-position: 0%;
    background-color: white !important;
  }

.navbar {
    background-color: #F1F1F1 !important;
}

.hide {
    border:none;
    background-image: url("../images/open-hamburger-menu.png") !important;
    background-size: cover;
    width:30px;
    background-position: 0%;
    background-color: white !important;
}
/* HEADER */
.carousel-header {
    position: absolute;
    bottom: 8%;
    z-index: 100;
    padding: 20px;
    width: 100%;
}

.carousel-header h1 {
    text-align: center;
    color: white;
}

.carousel-header p {
    text-align: center;
    color: white;
}

.tinted-image {
    background:
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
}

.carousel-item img {
    height: 450px;
    object-fit: cover;
}
#logo {
    height: 75px;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 991.98px)
{
    .navbar-brand {
        width: 10%;
        margin-left: 45%;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;

    }
}

@media screen and (max-width: 767.98px)
{
    .navbar-brand {
        width: 10%;
        margin-left: 40%;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;

    }
}

/* BODY */

.title {
    text-align: center;
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 25px;
}

.body-title {
    text-align: center;
    margin-top: 100px;
}

.picture img {
    width: 100%;
}

.icon-section {
    margin: 25px 10%;
}

.icon-wrapper {
    text-align: center;
}
.icon-wrapper img {
    height: 100px;
}
.icon-wrapper h5, h4{
    color: #0077BE;
}

.icon-wrapper h5 {
    margin-top: 25px;
}
.icon-wrapper h4 {
    font-size: 16px;
}

/* ----------- CARDS ---------- */
.homepage-cards {
    margin: 25px 5%;
}

.cards {
    background-color: #DEEAD3;
    border-radius: 12px;
    height: 100%;
    padding: 15px;
    text-align: center;
}
.cards h2 {
    font-size: 26px;
    font-weight: bold;
}

.cards p {
    font-size: 14px;
}

/* --------- HOMEPAGEPROPOSAL PICTURES -------- */
.home-pictures-wrapper {
    margin: 25px 10%;
}

.proposal-text {
    text-align: center;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
}

.proposal-text img {
    width: 100px;
    margin: 25px 0px;
}

.proposal-text li {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.proposal-left {
    margin: 0 30%;
}

.proposal-text a {
    margin-bottom: 25px;
}
/* FOOTER SECTION */
footer {
    height: 500px;
    background-image: url("/images/footer.png");
    background-position: center;
    background-size: cover;
    margin-top: 5%;
}

.footer-text-wrapper, .footer-p-wrapper, .footer-misc-wrapper {
    text-align: center;
}
.footer-text-wrapper {
    padding-top: 25px;
}
.footer-p-wrapper{
    padding-top: 10px;
}
.footer-p-wrapper div {
    display: inline-block;
    margin: 0 5%;
}

/* --------------------APPLY CSS----------------------- */
.wrapper-apply div {
    margin: 5%;
    border: solid;
}

.form-check {
    margin-top: 10px  !important;
    margin-bottom: 10px !important;
}

.button-wrapper {
    width: 100%;
    text-align: center;
}

.apply-finish {
    margin: 5%;
}

/* PROPOSAL CSS */

.wrapper-proposal {
    margin: 5%;
}
.pictures-wrapper {
    height: 500px;
}
.proposal-picture {
    background-color: grey;
    height: 100%;
}

/* --------------------------- EDUCATION PAGE ----------------------- */
.jumbotron {
    background-color: rgba(230, 230, 250, 0.5);
}
.container {
    text-align: center;
}

.divider {
    text-align: center;
}
.divider img{
    margin: 25px;
}